REACT_APP_API_URL=https://0dkfzd5cc0.execute-api.us-west-2.amazonaws.com/prod/
REACT_APP_USER_POOL_ID=us-west-2_kcGysvRZn
REACT_APP_USER_POOL_CLIENT_ID=vhgq19npjoa7kc99aegvm56o5
REACT_APP_AWS_REGION=us-west-2